footer{
  background-color: rgba(200, 175, 175, 0.7);
  display: flex;
  width: 100%;
  margin: 0 auto;
}
footer h3{
  margin: 5px 15px 15px 15px;
}
footer nav{
  margin: 0 0 0 auto;
}
footer ul{
  list-style: none;
  margin: 5px 20px;
}
footer a{
  text-decoration: none;
  color: black;
}
footer a:hover{
  color: blue;
}
