main{
    min-height: 100vh;
    display: flex;
}
.right{
    flex: 1;
    text-align: center;
    background-color: #eee;
    width: 30%;
}
.right-contents{
  background-color: white;
  margin: 10px 10px auto 10px;
  width: 80%;
  border:2px solid #d3d3d3;
}
.right-contents h2{
  margin-left:10px ;
}
.recommended{
  display: inline-block;
  margin: 10px 20px 0 0;
  display: flex;
  width: 100%;
}
.recommended img{
  height: 20%;
  width: 20%;
  margin-left: 10px;
}
.recommended a{
  display: inline-block;
  margin-left:8px;
  font-size: 12px;
  color: black;
}
.recommended a:hover{
  color: blue;
}
.final{
  margin-bottom: 10px;
}
.contents{
    flex: 2;
    background-color: white;
    width: 60%;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom:15px;
    font-size: 12px;
}
.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumb li {
  display: inline;
  list-style: none;
  font-weight: bold;
}

.breadcrumb li:after {
  content: '>';
  padding: 0 0.2em;
  color: #555;
}

.breadcrumb li:last-child:after {
  content: '';
}

.breadcrumb li a {
  text-decoration: none;
  color: #52b5ee;
}

.breadcrumb li a:hover {
  text-decoration: underline;
}
.text-contents {
  font-size: 15px;
  margin: 10px 10px;
  line-height: 35px;
}
.text-contents img{
  width: 60%;
}
.text-contents a{
  color: black;
  width: 100%;
}
.title {
  padding: 0.4em 0.5em;
  color: #494949;
  background: #f4f4f4;
  border-left: solid 5px #7db4e6;
  border-bottom: solid 3px #d7d7d7;
}
.conclusion{
  font-size: 35px;
  text-align: center;
}
.conclusion1{
  display: inline-block;
  font-size: 25px;
  border: 1px solid #ff8eff;
  margin-bottom:20px;
}
.random li{
  display: flex;
  list-style: none;
  margin: 15px 10px;
  font-size: 15px;
  padding: 0 10px 0 0;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(3, 3, 3, 0.18);
  border-bottom: none;
}
.random li img{
   margin: 0 10px 0 0;
   width:30%;
}
.random li span{
  margin-top: 9px;
  text-decoration: none;
  color: #525252;
  font-weight: bold;
}
.random li a{
  display: block;
}
.twitter-share-button{
  width: 6%;
  margin: 2% 2%;
}
.sign{
  color:blue;
  font-style: bold;
}
.picture{
  margin: 0 auto;
  width: 80%;
  text-align:center;
}
.picture img{
  margin:0 auto;
}
.fa-bars{
  font-size: 30px;
}
#drower {
  position: fixed;
  right: -270px;
  top: 0;
  width: 270px;
  height: 100%;
  overflow:scroll;
}
#drower {
    padding: 24px 24px 0 24px;
    background: #000;
    color: white;
}
#drower ul {
    margin: 0;
    padding: 0;
}
#drower li{
  padding: 0.75rem 0;
}
#drower li a {
    display: block;
    text-decoration: none;
    color: #fff;
}
#drower li a:hover {
    background: #0e3e4d;
}
#drower {
    margin-bottom: 20px;
}
.show {
    transform: translate3d(-270px, 0, 0);
}
#drower,#nav{
  transition: transform 0.3s;
}
.leaf{
  display: none;
  transition: transform 0.3s;
}
.leaf ul{
  list-style: none;
}
.leaf li{
  font-size: 12px;
}
.root{
  cursor: pointer;
  border-bottom: 1px solid #114d60;
  list-style: none;
}
