@media screen and (max-width:750px){
  *{
    box-sizing: border-box;
  }
  header{
    width: 100%;
    background-color: #c0c0c0;
  }
  header h1{
    font-size: 14px;
  }
  header nav{

  }
  .contents{
    width: 90%;
    margin: 0 auto;
  }
  .left-contents{
    width: 95%;
    margin: 0 auto;
  }
  .contents nav{
    font-size: 10px;
  }
  .right{
    display: none;
    background-color: #e6e6e6;
    clear: right;
  }
  .right-contents{
    display: none;
  }
  .recommended{
    display: none;
  }
  .text-contents li{
    font-size:14px;
  }
  .picture img{
    width: 90%;
    margin: 0 auto;
    height: auto;
  }
  .conclusion1{
    font-size: 15px;
  }
  .conclusion2{
    font-size: 15px;
  }
  footer h3{
    font-size: 14px;
  }

}
